In [3]:
"""
Title - Write a program to draw a point plot for sex against survived for a dataset given in url
        https://github.com/mwaskom/seaborn-data/blob/master/titanic.csv
Author name - Aditya Kumar
Creation time - ‎‎16 ‎March ‎2021 ‏‎
Modified time - ‎‎‎16 ‎March ‎2021‎

"""

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

df = sns.load_dataset('titanic')
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [4]:
sns.pointplot(x = "sex", y = "survived", hue = "class", data = df)
plt.show()

AttributeError: module 'seaborn' has no attribute 'plot'