In [5]:
"""
Title - Write a Python program to insert a new column in existing DataFrame.
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
        'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Author name - Aditya Kumar
Ceation time - ‎‎12 ‎March ‎2021 ‏‎
Modified time - ‎‎‎12 ‎March ‎2021‎

"""

import pandas as pd
import numpy as np

data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
        'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

newCol = ['spain', 'egypt', 'canada', 'london', 'london', 'rome', 'india', 'scotland', 'newYork', 'california']

dataFrame = pd.DataFrame(data , index = labels) 
dataFrame

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [6]:
dataFrame['origin'] = newCol
dataFrame

        name  score  attempts qualify      origin
a  Anastasia   12.5         1     yes       spain
b       Dima    9.0         3      no       egypt
c  Katherine   16.5         2     yes      canada
d      James    NaN         3      no      london
e      Emily    9.0         2      no      london
f    Michael   20.0         3     yes        rome
g    Matthew   14.5         1     yes       india
h      Laura    NaN         1      no    scotland
i      Kevin    8.0         2      no     newYork
j      Jonas   19.0         1     yes  california