In [5]:

'''
Title -  Write a Python program to convert a list of numeric value into a one-dimensional
        NumPy array.
        Expected Output:
        Original List: [12.23, 13.32, 100, 36.32]
        One-dimensional numpy array: [ 12.23 13.32 100. 36.32]

Author name - Aditya Kumar
Ceation time - ‎‎10 ‎March ‎2021 ‏‎
Modified time - ‎‎‎10 ‎March ‎2021‎
'''

import numpy as np

list1 = [12.23, 13.32, 100, 36.32]
print(list1)

[12.23, 13.32, 100, 36.32]

In [6]:
arr = np.array(list1)
print(arr, type(arr))

[ 12.23  13.32 100.    36.32] <class 'numpy.ndarray'>